
/* Apply some padding to the top of the body so the fixed navigation bar does not cover content */
body {
    padding-top: 50px;
}


#site-image {
    max-width: 400px;
}

/* Copyright image and text links */
#copyright {
	display: block;
	max-width: 500px;
}
