        </div>
        <div class="col-md-4">
            <h1 id="site-title"><img id="site-image" class="img-responsive"
                                     src="/images/concertina-tea-biscuits.jpeg"/></h1>
        </div>
    </div>
</div>

<footer class="site-footer">
    <div class="container">
        <p>
        <div style="text-align: center;">
            <br>
            Contact <a href="mailto:eastkentconcertinaplayers@gmail.com">eastkentconcertinaplayers@gmail.com</a> -
            Copyright 2016 East Kent Concertina Players<br>
            Hosted by <a href="http://www.watfordconsulting.com">Watford Consulting Ltd.</a>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>

</body>
</html>