{% include header.html %}
            <section class="music-panel music-intro">
                <h1>{{ page.heading }}</h1>
				<p>{{ page.description }}</p>
            </section>

            <section class="music-panel music-data">

		        <div id="notation"></div>

				<div id="midi_div_inline"></div>

				<div id="midi_div"></div>

				<textarea name="abc" id="abc" cols="130" rows="15">{{ content }}</textarea>

				<div id="warnings"></div>
            </section>

            <script src="/js/jquery-3.1.1.min.js"></script>
	        <script src="/js/abcjs_editor_midi.js" type="text/javascript"></script>
			<script type="text/javascript">
                $(window).on("load", function() {
					new ABCJS.Editor("abc",
							{ paper_id: "notation", generate_midi: true,
								midi_id: "midi_div_inline", midi_download_id: "midi_div", warnings_id: "warnings",
								midi_options: { generateInline: true, generateDownload: true } });
				});
			</script>
{% include footer.html %}
